/* preset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg: #000000;
    --footer-bg: #222222;
    --primary-color: #FFFFFF;
    --utility-green: #4BC800;
    --utility-red: #FF0003;
    --button-bg: #4A4A4A;
}

/* utility */

.debug {
    border: 1px solid white;
}
body {
    color: white;
}
.container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt-padding {
    padding: 25px 0;
}
.txt-center {
    text-align: center;
}
.tools-size {
    font-size: 2em;
}
.tools-margin {
    margin: 0 5px;
}
.arrow-size {
    font-size: 0.9em;
}
.utility-color {
    color: var(--utility-green);
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

/* main */

main {
    background-color: var(--main-bg);
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 5vh;
}
.view-tools {
    position: fixed;
    top: 1vh;
    right: 0.5vw;
}
.view-tools > * {
    font-size: 0.9em;
    background-color: var(--button-bg);
    border-radius: 5px;
    padding: 5px;
}
.box {
    width: calc((100% / 7) - 10px); 
    position: relative;
    margin-bottom: 10px;
    min-width: 100px;
}
img {
    display: block;
    width: 100%;
}
.user {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */

footer {
    background-color: var(--footer-bg);
    color: white;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
}
.wrapper {
    height: 70px;
}
.card {
    padding: 5px 0;
}
.right-footer {
    background-color: var(--button-bg);
    padding: 10px;
}
.right-footer > a {
    color: var(--utility-red);
}

/* flex */

.d-flex {
    display: flex;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    justify-content: space-around;
}
.flex-row {
    flex-flow: row wrap;
}
.flex-align {
    display: flex;
    align-items: center;
}
