/* preset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg: #000000;
    --footer-bg: #222222;
    --primary-color: #FFFFFF;
    --utility-green: #4BC800;
    --utility-red: #FF0003;
    --button-bg: #4A4A4A;
}

/* utility */

.container {
    width: 1200px;
    margin: 0 auto;
}

/* main */



/* footer */



/* flex */

.d-flex {
    display: flex;
    justify-content: space-between;
}